<!DOCTYPE html>
<html>
<head>
  <title>Fulfill</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<h1><a href="/">Fulfill – Another Unused Todo List App</a></h1>

<div class="navbar">
  <ul class="nav pull-right">
    <% if current_user.present? %>
      <li><%= link_to t('devise.links.sign_out'), destroy_user_session_path, method: :delete %>
    <% else %>
      <li><%= link_to t('devise.links.sign_in'), new_user_session_path %>
      <li><%= link_to t('devise.links.sign_up'), new_user_registration_path %>
    <% end %>
  </ul>
</div>

<% flash.each do |name, msg| %>
  <div id="flash" class="alert-message <%= name %> alert">
    <%= msg %>
  </div>
<% end %>

<hr>

<%= yield %>

</body>
</html>
